<nav>
  <div id="nav">

    <ul class="left">
      <li class="no_hover">
        <%= link_to main_app.root_url do %>
          <span><%= image_tag "dfm_web/uwcrest.png", size: '19x42' %>DFM Web</span>
        <% end %>
      </li>
    </ul>

    <ul class="right">
      <li><%= link_to "Pure", pure_path %></li>

      <li>
        <%= link_to("Flash", '#') %>
        <ul>
          <li><%= link_to('Notices', notice_path) %></li>
          <li><%= link_to('Alerts', alert_path) %></li>
        </ul>
      </li>

      <li>
        <%= link_to "News", news_path %>
        <ul>
          <li><%= link_to("#{Date.today.strftime("%A")}'s Weather", news_path + "#weather") %></li>
          <li><%= link_to('Sasuke Flips Car', news_path + "#sasuke") %></li>
          <li><%= link_to('Ricky Faces Jail Time', news_path + "#ricky") %></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
