<nav>
  <div id="nav">

    <!-- Use ul+li for menus. span around your logo -->
    <ul class="left">
      <li class="no_hover">
        <%= link_to main_app.root_url do %>
          <%= image_tag "dfm_web/uwcrest.png", size: '25x40' %>
          <span>DFM Web</span>
        <% end %>
      </li>
      <%= yield(:nav_left) if content_for?(:nav_left) -%>
    </ul>

    <ul class="right">
      <%= yield(:nav_right) if content_for?(:nav_right) -%>

      <li><%= link_to "Nav", nav_path %></li>
      <li><%= link_to "Pure", pure_path %></li>

      <li>
        <%= link_to("Flash", '#') %>
        <ul>
          <li><%= link_to('Notices', notice_path) %></li>
          <li><%= link_to('Alerts', alert_path) %></li>
        </ul>
      </li>

      <li>
        <%= link_to "News", news_path %>
        <ul>
          <li><%= link_to("#{Date.today.strftime("%A")}'s Weather", news_path + "#weather") %></li>
          <li><%= link_to('Sasuke Flips Car', news_path + "#sasuke") %></li>
          <li><%= link_to('Ricky Faces Jail Time', news_path + "#ricky") %></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
