<nav>
  <div id="nav">
    <div class="left">
      <%= link_to main_app.root_url do %>
        <%= image_tag "dfm_web/uwcrest.png", size: '25x40' %>
        <h1 class='hover_span'>DFM<span>CH</span> Web</h1>
      <% end %>
    </div>

    <ul class="right">
      <li>
        <%= link_to("Flash", '#') %>
        <div>
          <%= link_to('Notices', notice_path) %>
          <%= link_to('Alerts', alert_path) %>
        </div>
      </li>

      <li>
        <%= link_to "News", "#" %>
        <div>
          <%= link_to("#{Date.today.strftime("%A")}'s Weather", '#weather') %>
          <%= link_to('Sasuke Flips Car', '#sasuke') %>
          <%= link_to('Ricky Faces Jailtime', '#ricky') %>
        </div>
      </li>

      <!-- The last item can't really be a menu because there isn't space. -->
      <li><%= link_to("Logout", '#') %></li>

    </ul>
    <div id="hamburger"></div>
  </div>
</nav>
