<nav>
  <div id="nav">
    <div class="left">
      <%= link_to main_app.root_url do %>
        <%= image_tag "dfm_web/uwcrest.png", size: '25x40' %>
        <h1 class='hover_span'>DFM<span>CH</span> Web</h1>
      <% end %>
    </div>

    <ul class="right">
      <li>
        <%= link_to "Layouts", '#' %>
        <div>
          <%= link_to "Paper", paper_path %>
          <%= link_to "Pure", pure_path %>
        </div>
      </li>

      <li>
        <%= link_to("Flash", '#') %>
        <div>
          <%= link_to('Notices', notice_path) %>
          <%= link_to('Alerts', alert_path) %>
        </div>
      </li>

      <li>
        <%= link_to "News", news_path %>
        <div>
          <%= link_to("#{Date.today.strftime("%A")}'s Weather", news_path + "#weather") %>
          <%= link_to('Sasuke Flips Car', news_path + "#sasuke") %>
          <%= link_to('Ricky Faces Jail Time', news_path + "#ricky") %>
        </div>
      </li>

      <!-- The last item can't really be a menu because there isn't space. -->
      <li><%= link_to("Logout", '#') %></li>

    </ul>
  </div>
</nav>
