<nav>
  <div id="nav">

    <ul class="left">
      <li class="no_hover">
        <%= link_to main_app.root_url do %>
          <span><%= image_tag "dfm_web/uwcrest.png", size: '19x42' %>DFM Web</span>
        <% end %>
      </li>
      <li class="no_hover no_print">
        <form><input type="text" placeholder="Search"></form>
      </li>
    </ul>

    <ul class="right">

      <li><%= link_to(image_tag('dfm_web/excel.png', size: "32x42"), '#excel') %></li>
      <li><%= link_to(image_tag('dfm_web/word.png', size: "32x42"), '#word') %></li>

      <li><%= link_to "Mailers", "/rails/mailers/mailer/example" %></li>
      <li><%= link_to "Pure", pure_path %></li>
      <li><%= link_to "Print", print_path %></li>

      <li>
        <%= link_to("Flash", '#') %>
        <ul>
          <li><%= link_to('Notices', notice_path) %></li>
          <li><%= link_to('Alerts', alert_path) %></li>
        </ul>
      </li>

      <li>
        <%= link_to "News", news_path %>
        <ul>
          <li><%= link_to("#{Date.today.strftime("%A")}'s Weather", news_path + "#weather") %></li>
          <li><%= link_to('Local Events', news_path + "#sasuke") %></li>
          <li><%= link_to('School Closings', news_path + "#ricky") %></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
