<nav>
  <div id="nav">
    <div class="left">
      <%= link_to main_app.root_url do %>
        <%= image_tag "dfm_web/uwcrest.png", size: '25x40' %>
        <h1>DFM Web</h1>
      <% end %>
    </div>

    <ul class="right">
      <%= menu_tag("Actions", '#') %>
      <%= menu_tag("News", '#') %>
      <%= menu_tag("Logout", '#') %>
    </ul>
  </div>
</nav>
