<!DOCTYPE html>
<html>
  <head>
    <title>DFM Web Kitchen Sink</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <%= favicon_link_tag  'dfm_web/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="DFM Web">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
