<%= form_tag nil, method: :get do %>
  <div class="field">
    <%= label_tag :text_field %>
    <%= text_field_tag :text_field, ' ' %> <!-- The space is a Chrome workaround.  Don't do that in practice -->
  </div>

  <div class="field">
    <%= label_tag :text_field %>
    <%= text_field_tag :text_field, "Locked", class: 'locked' %>
  </div>


  <div class="field">
    <%= label_tag :password_field %>
    <%= password_field_tag :password_field %>
  </div>

  <div class="field">
    <%= label_tag :date_field %>
    <%= date_field_tag :date_field %>
  </div>

  <div class="field">
    <%= label_tag :select %>
    <%= select_tag :select, options_for_select(['Item 1', 'Item 2']) %>
  </div>

  <div class="field">
    <%= label_tag :text_area %>
    <%= text_area_tag :text_area %>
  </div>

  <div class="field">
    <%= label_tag :file_field %>
    <%= file_field_tag :file_field %>
  </div>

  <div class="field">
    <%= check_box_tag :check_box %>
    <%= label_tag :check_box %>

    <%= check_box_tag :check_box %>
    <%= label_tag :check_box %>
  </div>

  <div class="field">
    <%= radio_button_tag :example, :radio_button %>
    <%= label_tag :radio_button %>

    <%= radio_button_tag :example, :radio_button %>
    <%= label_tag :radio_button %>
  </div>

  <div class="actions">
    <%= submit_tag 'Submit' %>
    <%= submit_tag 'Warn', class: 'warn' %>
    <%= link_to "Alert", "#", class: 'button alert' %>      <!-- link with class "button" looks the same. -->
  </div>

<% end %>
