<%= form_tag nil, method: :get do %>
  <!-- Random Namespace to avoid id conflicts -->
  <%= fields_for nil, nil, namespace: "rand_#{rand(100)}" do |f|  %>
    <div class="field">
      <%= f.label :text_field %>
      <%= f.text_field :text_field %> <!-- The space is a Chrome workaround.  Don't do that in practice -->
    </div>

    <div class="field">
      <%= f.label :locked_field %>
      <%= f.text_field :locked_field, value: "Locked", class: 'locked' %>
    </div>

    <div class="field">
      <%= f.label :password_field %>
      <%= f.password_field :password_field %>
    </div>

    <div class="field">
      <%= f.label :date_field %>
      <%= f.date_field :date_field %>
    </div>

    <div class="field">
      <%= f.label :select %>
      <%= f.select :select, options_for_select(['Item 1', 'Item 2']) %>
    </div>

    <div class="field">
      <%= f.label :text_area %>
      <%= f.text_area :text_area %>
    </div>

    <div class="field">
      <%= f.label :file_field %>
      <%= f.file_field :file_field %>
    </div>

    <div class="field">
      <%= f.check_box :check_box_1 %>
      <%= f.label :check_box_1 %>

      <%= f.check_box :check_box_2 %>
      <%= f.label :check_box_2 %>
    </div>

    <div class="field">
      <%= f.radio_button :example, :radio_button_1 %>
      <%= f.label :radio_button_1 %>

      <%= f.radio_button :example, :radio_button_2 %>
      <%= f.label :radio_button_2 %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit' %>
      <%= f.submit 'Warn', class: 'warn' %>
      <%= link_to "Alert", "#", class: 'button alert' %>      <!-- link with class "button" looks the same. -->
    </div>

  <% end %>
<% end %>
