<table class='tablesorter'>
  <caption>This table has the 'tablesorter' class</caption>
  <thead>
    <tr>
      <th class="sorter-false">Side TH</th>
      <th>TR Class</th>
      <th>Date</th>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>

  <% counter = 0 %>
  <% [nil, 'okay', 'highlight', 'warn', 'alert', 'gray'].each do |tr_class| %>
    <% 4.times do %>
      <tr class="<%= tr_class %>">
        <th>Row <%= counter += 1 %></th>
        <td><%= tr_class || 'n/a' %></td>
        <td><%= Date.today - rand(2000).days %></td>
        <td><%= (-100 .. 100).to_a.sample %></td>
      </tr>
    <% end %>
  <% end %>


  </tbody>

  <tfoot>
    <tr>
      <th colspan='3'>Colspan 3</th>
      <td>123</td>
    </tr>
    <tr>
      <th colspan='3'>Colspan 3</th>
      <td>456</td>
    </tr>
    <tr>
      <th colspan='3'>Colspan 3</th>
      <td>789</td>
    </tr>
  </tfoot>
</table>
