<!-- Kitchen Sink -->


<h1>H1: No Pure classes</h1>
<h2>H2: Full page width</h2>
<h3>H3: Easy as pie</h3>
<%= render partial: 'table' %>

<hr>

<h1>H1: pure-g then three pure-u-*</h1>
<h2>H2: Full page width below Large, two columns at or above</h2>
<h3>H3: See how there's three sections but only two columns?  That's fine.</h3>
<h4>H4: To use Pure's columns you <b>must</b> have a pure-g div container, and you <b>must</b> only use pure-u-* children.</h4>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
</div>

<hr>

<h1>H1: Forms</h1>
<%= render partial: 'form' %>
<hr>

<h1>H1: Errors</h1>
<h4>...not yet implemented</h4>
<%= form_tag do %>
  <%= submit_tag 'Break Something', class: 'alert' %>     <!-- TODO: Create nice Error templates -->
<% end %>
<hr>

<h1 class="hover_span">H1: H<span>over&nbsp;</span>over<span>&nbsp;me to see the</span> Span<span>&nbsp;content</span></h1>
<h1 class="hover_span">LD<span>AP&nbsp;</span>E<span>n</span>R<span>ichment&nbsp;</span>P<span>rogram</span></h1>
<h1 class="hover_span">P<span>eople&nbsp;</span>I<span>nformation&nbsp;</span>M<span>anagement&nbsp;</span>S<span>ystem</span></h1>
<br style="clear:both;">

<hr>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>H1: Header right before .button</h1>
    <%= link_to 'Submit', '#', class: 'button' %>
    <%= link_to 'Submit', '#', class: 'button' %>
    <h1>H1: Header right after .button</h1>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= link_to 'Submit', '#', class: 'button' %>
    <h1>H1: Header right after .button</h1>
    <h1>H1: Header right before .button</h1>
    <%= link_to 'Submit', '#', class: 'button' %>
  </div>
</div>

<hr>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>Panel</h1>
    <div class="panel">
      <p>This is a div with class "panel."</p>
      <%= image_tag 'dfm_web/apple-touch-icon.png' %>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <div class="panel">
      <h3>Images always scale to fit their container if they're too big.</h3>
      <%= image_tag 'dfm_web/defective_monitor.jpg' %>
    </div>
  </div>
</div>
