<!-- Kitchen Sink -->

<h1>H1: Visibility Classes</h1>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h3>Show for (size) only</h3>
    <div class="button show-for-xsmall-only">show-for-xsmall-only</div>
    <div class="button show-for-small-only">show-for-small-only</div>
    <div class="button show-for-medium-only">show-for-medium-only</div>
    <div class="button show-for-large-only">show-for-large-only</div>
    <div class="button show-for-xlarge-only">show-for-xlarge-only</div>
  </div>

  <div class="pure-u-1 pure-u-lg-1-2">
    <h3>Show for (size) up</h3>
    <div class="button show-for-xsmall-up">show-for-xsmall-up</div>
    <div class="button show-for-small-up">show-for-small-up</div>
    <div class="button show-for-medium-up">show-for-medium-up</div>
    <div class="button show-for-large-up">show-for-large-up</div>
    <div class="button show-for-xlarge-up">show-for-xlarge-up</div>
  </div>
</div>

<h2>Visibility is helpful with prioritizing Table content</h2>
<table>
  <thead>
    <tr>
      <th class="show-for-xsmall-up">Most Important</th>
      <th class="show-for-small-up">Fairly Important</th>
      <th class="show-for-medium-up">Medium Important</th>
      <th class="show-for-large-up">Kinda Important</th>
      <th class="show-for-xlarge-up">Least Important</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="show-for-xsmall-up">show-for-xsmall-up</td>
      <td class="show-for-small-up">show-for-small-up</td>
      <td class="show-for-medium-up">show-for-medium-up</td>
      <td class="show-for-large-up">show-for-large-up</td>
      <td class="show-for-xlarge-up">show-for-xlarge-up</td>
    </tr>
  </tbody>


</table>


<hr>

<h1>H1: No Pure classes</h1>
<h2>H2: Full page width</h2>
<h3>H3: Easy as pie</h3>
<%= render partial: 'table' %>

<hr>

<h1>H1: pure-g then three pure-u-*</h1>
<h2>H2: Full page width below Large, two columns at or above</h2>
<h3>H3: See how there's three sections but only two columns?  That's fine.</h3>
<h4>H4: To use Pure's columns you <b>must</b> have a pure-g div container, and you <b>must</b> only use pure-u-* children.</h4>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= render partial: 'table' %>
  </div>
</div>

<hr>


<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>H1: Form</h1>
    <%= render partial: 'form' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>H1: Form in panel</h1>
    <div class="panel">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h2>H2: Margins etc</h2>
    <div class="panel">
      <div class="field">
        <%= text_field_tag :one,  "I should be vertically centered." %>
      </div>
    </div>
    <div class="panel">
      <div class="field">
        <%= text_field_tag :two,  "The space above me should equal.." %>
      </div>
      <div class="field">
        <%= text_field_tag :three,  "..the space below me." %>
      </div>
    </div>
    <div class="panel">
      <div class="field">
        <%= check_box_tag :with_text %>
        <p>Sometimes you need a checkbox followed by a wall of text.  The text must be in a &lt;p&gt; tag.
        That should look good and flow nicely.  There should be some space between the checkbox and the text.
        The checkbox and the text should line up vertically.  The text should wrap around the box in a graceful way.</p>
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <h2>H2: Labels</h2>
    <div class="panel">
      <div class="field">
        <%= check_box_tag :example_check %>
        <%= label_tag "Checkboxes should have really wide labels." %>
      </div>
    </div>
    <div class="panel">
      <div class="field">
        <%= radio_button_tag :example_radio, "1" %>
        <%= label_tag "Radio buttons should have really wide labels." %>
      </div>
    </div>
    <div class="panel">
      <div class="field">
        <%= label_tag "Actually there's no reason why a any label should be narrower than a normal input, but if it's poorly worded it should wrap at the same maximum." %>
        <%= text_field_tag :text  %>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <h3>H3: Put hidden fields ABOVE other inputs</h3>
      </div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <div class="panel">
          <div class="field">
            <%= hidden_field_tag :no_space %>
            <%= radio_button_tag :radio, "1" %>
            <%= label_tag "I have a hidden_field_tag." %>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <div class="panel">
          <div class="field">
            <%= radio_button_tag :radio, "1" %>
            <%= label_tag "No hidden field here." %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr>

<h1>Modifier classes</h1>

<p>Use a <span class='alert'>span</span> if you don't want to change an entire element.</p>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-4">
    <h1>H1: (no classes)</h1>
    <h1 class='okay'>H1: okay</h1>
    <h1 class='highlight'>H1: highlight</h1>
    <h1 class='warn'>H1: warn</h1>
    <h1 class='alert'>H1: alert</h1>
    <h1 class='gray'>H1: gray</h1>
  </div>
  <div class="pure-u-1 pure-u-lg-1-4">
    <h2>H2: (no classes)</h2>
    <h2 class='okay'>H2: okay</h2>
    <h2 class='highlight'>H2: highlight</h2>
    <h2 class='warn'>H2: warn</h2>
    <h2 class='alert'>H2: alert</h2>
    <h2 class='gray'>H2: gray</h2>
  </div>
  <div class="pure-u-1 pure-u-lg-1-4">
    <h3>H3: (no classes)</h3>
    <h3 class='okay'>H3: okay</h3>
    <h3 class='highlight'>H3: highlight</h3>
    <h3 class='warn'>H3: warn</h3>
    <h3 class='alert'>H3: alert</h3>
    <h3 class='gray'>H3: gray</h3>
  </div>
  <div class="pure-u-1 pure-u-lg-1-4">
    <p>P: (no classes)</p>
    <p class='okay'>P: okay</p>
    <p class='highlight'>P: highlight</p>
    <p class='warn'>P: warn</p>
    <p class='alert'>P: alert</p>
    <p class='gray'>P: gray</p>
  </div>
</div>


<div class='panel'>DIV: panel</div>
<div class='panel okay'>DIV: panel okay</div>
<div class='panel highlight'>DIV: panel highlight</div>
<div class='panel warn'>DIV: panel warn</div>
<div class='panel alert'>DIV: panel alert</div>
<div class='panel gray'>DIV: panel gray</div>



<hr>


<h1 class="hover_span">H1: H<span>over&nbsp;</span>over<span>&nbsp;me to see the</span> Span<span>&nbsp;content</span></h1>
<h1 class="hover_span">LD<span>AP&nbsp;</span>E<span>n</span>R<span>ichment&nbsp;</span>P<span>rogram</span></h1>
<h1 class="hover_span">P<span>eople&nbsp;</span>I<span>nformation&nbsp;</span>M<span>anagement&nbsp;</span>S<span>ystem</span></h1>
<br style="clear:both;">

<hr>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>H1: Header right before .button</h1>
    <%= link_to 'Submit', '#', class: 'button' %>
    <%= link_to 'Submit', '#', class: 'button' %>
    <h1>H1: Header right after .button</h1>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <%= link_to 'Submit', '#', class: 'button' %>
    <h1>H1: Header right after .button</h1>
    <h1>H1: Header right before .button</h1>
    <%= link_to 'Submit', '#', class: 'button' %>
  </div>
</div>

<hr>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>Panel</h1>
    <div class="panel">
      <p>This is a div with class "panel."</p>
      <%= image_tag 'dfm_web/apple-touch-icon.png' %>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <div class="panel">
      <h3>Images always scale to fit their container if they're too big.</h3>
      <%= image_tag 'dfm_web/defective_monitor.png', style: 'background-color: #7490b6;' %>
    </div>
  </div>
</div>


<hr>
<div class="pure-g">
  <div class="pure-u-1">
    <h1>Paper</h1>
    <div class="paper">
      <p>This is a div with class "paper."</p>
      <p>It is 8.5 inches wide, with 0.5 inch padding.</p>
      <%= render partial: 'lorem' %>
    </div>
  </div>
</div>

<hr>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>Hyperlinks</h1>
    <p>You can use a <%= link_to "regular link", "#" %> inline in your text.</p>
    <p>Images also work: <%= link_to image_tag('dfm_web/apple-touch-icon.png', size: '40x40'), '#' %></p>
    <h1>A header with <%= link_to "a link", '#' %> in it.</h1>
    <%= link_to content_tag(:h1, 'A link with a header in it.'), '#' %>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2">
    <h1>Modifier Classes</h1>

    <h2>Links with button</h2>
    <%= link_to "button", "#", class: 'button' %>
    <%= link_to "button okay", "#", class: 'button okay' %>
    <%= link_to "button highlight", "#", class: 'button highlight' %>
    <%= link_to "button warn", "#", class: 'button warn' %>
    <%= link_to "button alert", "#", class: 'button alert' %>
    <%= link_to "button gray", "#", class: 'button gray' %>
    <%= link_to "button disabled", "#", class: 'button disabled' %>

    <h2>Form Submit</h2>
    <%= form_tag form_submit_path do %>
      <%= submit_tag "submit" %>
      <%= submit_tag "submit okay", class: 'okay' %>
      <%= submit_tag "submit highlight", class: 'highlight' %>
      <%= submit_tag "submit warn", class: 'warn' %>
      <%= submit_tag "submit alert", class: 'alert' %>
      <%= submit_tag "submit gray", class: 'gray' %>
      <%= submit_tag "submit disabled", disabled: 'disabled' %>
    <% end %>



  </div>



</div>

<hr>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-3">
    <h1>Unordered List</h1>
    <ul>
      <li>Wisconsin</li>
      <li>Hawaii
        <ul>
          <li>Waikiki</li>
          <li>Punaluu</li>
        </ul>
      </li>
      <li>Florida</li>
      <li>California</li>
    </ul>
  </div>
  <div class="pure-u-1 pure-u-lg-1-3">
    <h1>Ordered List</h1>
    <ol>
      <li>Wisconsin</li>
      <li>Hawaii
        <ol>
          <li>Waikiki</li>
          <li>Punaluu</li>
        </ol>
      </li>
      <li>Florida</li>
      <li>California</li>
    </ol>
  </div>
  <div class="pure-u-1 pure-u-lg-1-3">
    <h1>List in a panel</h1>
    <div class="panel">
      <ul>
        <li>Normal</li>
        <li class="okay">Okay</li>
        <li class="highlight">Highlight</li>
        <li class="warn">Warn</li>
        <li class="alert">Alert</li>
        <li class="gray">Gray</li>
      </ul>
    </div>
  </div>
</div>

<hr>

<h1>Tables</h1>

<%= render partial: 'tablesorter' %>



<hr>

<h1>Links / Buttons within Tables</h1>

<table>
  <thead>
  <tr>
    <th colspan="2"><%= link_to "TH Link", "#" %></th>
    <td colspan="2"><%= link_to "TD Link", "#" %></td>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">
        <%= link_to "TH Button", "#", class: 'button' %>
        <%= link_to "TH Button", "#", class: 'button warn' %>
        <%= link_to "TH Button", "#", class: 'button alert' %>
      </th>
      <td colspan="2">
        <%= link_to "TD Button", "#", class: 'button' %>
        <%= link_to "TD Button", "#", class: 'button warn' %>
        <%= link_to "TD Button", "#", class: 'button alert' %>
      </td>
    </tr>

    <tr>
      <th>
        <%= text_field_tag "th_input", "Text Field" %>
      </th>
      <th>
        <%= link_to "TH Button", "#", class: 'button' %>
      </th>
      <td>
        <%= text_field_tag "td_input", "Text Field" %>
      </td>
      <td>
        <%= link_to "TD Button", "#", class: 'button' %>
      </td>
    </tr>

    <tr>
      <th>
        <%= select_tag "input", options_for_select(["Select Tag"]) %>
      </th>
      <th>
        <%= link_to "TH Button", "#", class: 'button' %>
      </th>
      <td>
        <%= select_tag "input", options_for_select(["Select Tag"]) %>
      </td>
      <td>
        <%= link_to "TD Button", "#", class: 'button' %>
      </td>
    </tr>

  </tbody>
</table>
<p>
  Rails: <%= Rails.version %><br/>
  DfmWeb: <%= DfmWeb::VERSION %>
</p>
